# Stock Market Prediction

## About <br>

We will be analyzing <code>continuous</code>  float variables to predict stock prices by using historic data. <br>

## Install dependencies libraries

In [8]:
! pip install pip install finnhub-python -q
! pip install pandas

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in /home/ubuntu/anaconda3/envs/jupyter/lib/python3.9/site-packages (1.5.0)
Requirement already satisfied: pytz>=2020.1 in /home/ubuntu/anaconda3/envs/jupyter/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.20.3 in /home/ubuntu/anaconda3/envs/jupyter/lib/python3.9/site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/ubuntu/anaconda3/envs/jupyter/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/ubuntu/anaconda3/envs/jupyter/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: pip install --upgrade pip

## Import libraries

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import finnhub

## Explore Finnhub API

In [13]:
# api key
my_key = "insert your ap key"
finnhub_client = finnhub.Client(api_key=my_key)

In [19]:
# Stock candles
res = finnhub_client.stock_candles('x', 'D', 1590988249, 1591852249)
print(res)

{'c': [8.46, 8.46, 8.69, 9.32, 10.19, 10.92, 10.39, 10.04, 8.33], 'h': [8.49, 8.75, 8.78, 9.32, 10.59, 10.93, 10.9552, 10.525, 9.44], 'l': [8.0035, 8.43, 8.48, 8.61, 9.82, 10.34, 10.26, 9.96, 8.315], 'o': [8.05, 8.6, 8.65, 8.65, 9.83, 10.46, 10.71, 10.41, 9.28], 's': 'ok', 't': [1590969600, 1591056000, 1591142400, 1591228800, 1591315200, 1591574400, 1591660800, 1591747200, 1591833600], 'v': [8697221, 10095311, 8720460, 13015730, 22142935, 13319489, 12309998, 10960531, 18812426]}

In [27]:
df = pd.DataFrame(res)
df

       c        h        l      o   s           t         v
0   8.46   8.4900   8.0035   8.05  ok  1590969600   8697221
1   8.46   8.7500   8.4300   8.60  ok  1591056000  10095311
2   8.69   8.7800   8.4800   8.65  ok  1591142400   8720460
3   9.32   9.3200   8.6100   8.65  ok  1591228800  13015730
4  10.19  10.5900   9.8200   9.83  ok  1591315200  22142935
5  10.92  10.9300  10.3400  10.46  ok  1591574400  13319489
6  10.39  10.9552  10.2600  10.71  ok  1591660800  12309998
7  10.04  10.5250   9.9600  10.41  ok  1591747200  10960531
8   8.33   9.4400   8.3150   9.28  ok  1591833600  18812426

In [31]:
# financials 
financials = finnhub_client.company_basic_financials('AAPL', 'all')
df_financials = pd.DataFrame(financials)
df_financials.head(10)

                                metric metricType series symbol
10DayAverageTradingVolume     58.73874   perShare    NaN   AAPL
13WeekPriceReturnDaily         4.45976   perShare    NaN   AAPL
26WeekPriceReturnDaily         -5.6364   perShare    NaN   AAPL
3MonthAverageTradingVolume  1480.10749   perShare    NaN   AAPL
52WeekHigh                      179.61   perShare    NaN   AAPL
52WeekHighDate              2022-03-30   perShare    NaN   AAPL
52WeekLow                       124.18   perShare    NaN   AAPL
52WeekLowDate               2023-01-03   perShare    NaN   AAPL
52WeekPriceReturnDaily        -6.32097   perShare    NaN   AAPL
5DayPriceReturnDaily          -1.67516   perShare    NaN   AAPL

# Sources 
<ul>
    <li>Finnhub documentation: <a href="https://github.com/Finnhub-Stock-API/finnhub-python" target="_blank"> finn doc </a>
</ul>