# Stock Market Prediction

## About <br>

We will be analyzing <code>continuous</code>  float variables to predict stock prices by using historic data. <br>

## Install dependencies libraries

In [8]:
! pip install pip install finnhub-python -q
! pip install pandas

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in /home/ubuntu/anaconda3/envs/jupyter/lib/python3.9/site-packages (1.5.0)
Requirement already satisfied: pytz>=2020.1 in /home/ubuntu/anaconda3/envs/jupyter/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.20.3 in /home/ubuntu/anaconda3/envs/jupyter/lib/python3.9/site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/ubuntu/anaconda3/envs/jupyter/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/ubuntu/anaconda3/envs/jupyter/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: pip install --upgrade pip

## Import libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import finnhub

## Explore Finnhub API

In [3]:
# api key
my_key = "enter your own api key"
finnhub_client = finnhub.Client(api_key=my_key)

In [4]:
# Stock candles
res = finnhub_client.stock_candles('aapl', 'D', 1590988249, 1591852249)
print(res)

{'c': [80.4625, 80.835, 81.28, 80.58, 82.875, 83.365, 85.9975, 88.21, 83.975], 'h': [80.5875, 80.86, 81.55, 81.405, 82.9375, 83.4, 86.4025, 88.6925, 87.765], 'l': [79.3025, 79.7325, 80.575, 80.195, 80.8075, 81.83, 83.0025, 86.5225, 83.87], 'o': [79.4375, 80.18625, 81.165, 81.0975, 80.8375, 82.5625, 83.035, 86.975, 87.3275], 's': 'ok', 't': [1590969600, 1591056000, 1591142400, 1591228800, 1591315200, 1591574400, 1591660800, 1591747200, 1591833600], 'v': [81018612, 87642816, 104491216, 87560364, 137250200, 95654536, 147712364, 166651752, 201662452]}

In [5]:
df = pd.DataFrame(res)
df

         c        h        l         o   s           t          v
0  80.4625  80.5875  79.3025  79.43750  ok  1590969600   81018612
1  80.8350  80.8600  79.7325  80.18625  ok  1591056000   87642816
2  81.2800  81.5500  80.5750  81.16500  ok  1591142400  104491216
3  80.5800  81.4050  80.1950  81.09750  ok  1591228800   87560364
4  82.8750  82.9375  80.8075  80.83750  ok  1591315200  137250200
5  83.3650  83.4000  81.8300  82.56250  ok  1591574400   95654536
6  85.9975  86.4025  83.0025  83.03500  ok  1591660800  147712364
7  88.2100  88.6925  86.5225  86.97500  ok  1591747200  166651752
8  83.9750  87.7650  83.8700  87.32750  ok  1591833600  201662452

In [6]:
df.dtypes

c    float64
h    float64
l    float64
o    float64
s     object
t      int64
v      int64
dtype: object

In [7]:
# financials 
financials = finnhub_client.company_basic_financials('AAPL', 'all')
df_financials = pd.DataFrame(financials)
df_financials.head(10)

                                metric metricType series symbol
10DayAverageTradingVolume     58.73874        all    NaN   AAPL
13WeekPriceReturnDaily         4.45976        all    NaN   AAPL
26WeekPriceReturnDaily         -5.6364        all    NaN   AAPL
3MonthAverageTradingVolume  1480.10749        all    NaN   AAPL
52WeekHigh                      179.61        all    NaN   AAPL
52WeekHighDate              2022-03-30        all    NaN   AAPL
52WeekLow                       124.18        all    NaN   AAPL
52WeekLowDate               2023-01-03        all    NaN   AAPL
52WeekPriceReturnDaily        -6.32097        all    NaN   AAPL
5DayPriceReturnDaily          -1.67516        all    NaN   AAPL

In [8]:
# Symbol lookup

# pprint makes dictionaries pretty
import pprint

company = "Nintendo"
symbol_lookup = finnhub_client.symbol_lookup(company)
#pprint.pprint(symbol_lookup)

In [9]:
# company news

company_news = finnhub_client.general_news("general", min_id=0)
#pprint.pprint(company_news)

In [22]:
## company news 

company_news = finnhub_client.company_news('x', _from="2023-03-17", to="2023-03-18")

pprint.pprint(company_news)

[{'category': 'company',
  'datetime': 1679084700,
  'headline': 'First Republic, FedEx, Sarepta, XPeng, RingCentral, and More '
              'Stock Market Movers',
  'id': 119295106,
  'image': 'https://s.yimg.com/ny/api/res/1.2/j5YkM1KA1ygaFDzleLBliA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD02MDA-/https://media.zenfs.com/en/Barrons.com/bc90bcda788806e59099eb648bfae05b',
  'related': 'X',
  'source': 'Yahoo',
  'summary': 'A consortium of the biggest U.S. banks agreed to make uninsured '
             'deposits totaling $30 billion in beleaguered First Republic '
             "Bank, and quarterly earnings at FedEx easily topped analysts' "
             'estimates.',
  'url': 'https://finnhub.io/api/news?id=b89ae6034c5fa2f37de7faaaa0dc251eaa1ab211908da31b9e737578b4b93f9d'},
 {'category': 'company',
  'datetime': 1679064352,
  'headline': 'Why Nucor, Cleveland-Cliffs, and Steel Dynamics Plunged This '
              'Week',
  'id': 119291442,
  'image': 'https://s.yimg.com/ny/api/res/1.2/NQDzzSpnARdKc6p2U4K8ig--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD03OTc-/https://media.zenfs.com/en/motleyfool.com/01135983aef38dd6850229c0b088e36b',
  'related': 'X',
  'source': 'Yahoo',
  'summary': "Steel stocks don't necessarily have a direct correlation to the "
             'financial sector and the regional banks that dominated the news '
             'this past week.  As of early Friday morning, Nucor and '
             "Cleveland-Cliffs had each dropped about 8% since last week's "
             'close, and Steel Dynamics was lower by about 12%, according to '
             'data provided by S&P Global Market Intelligence.',
  'url': 'https://finnhub.io/api/news?id=e6c191955ef0ae165cee8e1157b446803603a2b92339dad7d073f5170ebcaea1'},
 {'category': 'company',
  'datetime': 1679060822,
  'headline': 'United States Steel stock rises on better-than-expected Q1 '
              'earnings guidance',
  'id': 119295787,
  'image': 'https://s.yimg.com/ny/api/res/1.2/YLPvSj2FRmltgnllAv2iKQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD02NzU-/https://s.yimg.com/os/creatr-uploaded-images/2023-03/2a8ff9f0-c4ca-11ed-b667-0cff5011fa22',
  'related': 'X',
  'source': 'Yahoo',
  'summary': 'Yahoo Finance Live anchors Julie Hyman and Brad Smith discuss '
             'the rise in stock for United States Steel.',
  'url': 'https://finnhub.io/api/news?id=27655a3867629d80d0815eb24d5274be6803ead950a9032f29ee5390173838ca'},
 {'category': 'company',
  'datetime': 1679060401,
  'headline': 'Is United States Steel (X) Stock Undervalued Right Now?',
  'id': 119295788,
  'image': 'https://media.zenfs.com/en/zacks.com/078b2d95159d12a337f09f2519ff10ba',
  'related': 'X',
  'source': 'Yahoo',
  'summary': 'Here at Zacks, our focus is on the proven Zacks Rank system, '
             'which emphasizes earnings estimates and estimate revisions to '
             'find great stocks. Nevertheless, we are always paying attention '
             'to the latest value, growth, and momentum trends to underscore '
             'strong picks.',
  'url': 'https://finnhub.io/api/news?id=a03af04c20d1f338e49e2b1e1e83ff2770c68f8f0995e50314080dc0cb0bb719'},
 {'category': 'company',
  'datetime': 1679050980,
  'headline': 'What You Missed On Wall Street This Morning',
  'id': 119292375,
  'image': '',
  'related': 'X',
  'source': 'Thefly.com',
  'summary': 'Looking for stock market analysis and research with proves '
             'results? Zacks.com offers in-depth financial research with over '
             '30years of proven results.',
  'url': 'https://finnhub.io/api/news?id=d56645d1c6f3c27f10ef5647e2e35cf1cbb28487dfec4559bed3f1e261211fc9'},
 {'category': 'company',
  'datetime': 1679045340,
  'headline': 'U.S. Steel Stock Is Surging. Its Forecast Bodes Well for Other '
              'Steelmakers.',
  'id': 119290564,
  'image': 'https://s.yimg.com/ny/api/res/1.2/ngjyXIzPDpnsrbK7Wl5AaA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD02MDA-/https://media.zenfs.com/en/Barrons.com/7356ca18c1ac878297be28d75c2d82f4',
  'related': 'X',
  'source': 'Yahoo',
  'summary': 'The company flags higher flat-rolled steel demand in North '
             'America, an indicator of strong activity from manufacturers.',
  'url': 'https://finnhub.io/api/news?id=3d7993145662c083b6b506149d4b5e9af2b60708177065d8f2e386616ed68584'},
 {'category': 'company',
  'datetime': 1679039760,
  'headline': 'Fly Intel: Pre-market Movers',
  'id': 119292376,
  'image': '',
  'related': 'X',
  'source': 'Thefly.com',
  'summary': 'Looking for stock market analysis and research with proves '
             'results? Zacks.com offers in-depth financial research with over '
             '30years of proven results.',
  'url': 'https://finnhub.io/api/news?id=a30f7762e3c97c0465f495528c13554299ab7fcc38d50d763cbadf27d82783d8'},
 {'category': 'company',
  'datetime': 1679027100,
  'headline': 'United States Steel (X) Gets a Sell from Bank of America '
              'Securities',
  'id': 119292377,
  'image': '',
  'related': 'X',
  'source': 'TipRanks',
  'summary': 'Looking for stock market analysis and research with proves '
             'results? Zacks.com offers in-depth financial research with over '
             '30years of proven results.',
  'url': 'https://finnhub.io/api/news?id=3f0a6d6b7d18ac4326d9ba237549517b82afc5234b99a5eee78bf438f92cf136'}]

# Sources 

Top 12 STOCK API: <br> <a href="https://geekflare.com/best-stock-market-api/" target="_blank"> Top 12 Stock API </a>
<ul>
    <li>Finnhub documentation: <a href="https://github.com/Finnhub-Stock-API/finnhub-python" target="_blank"> finn doc </a>
</ul>